[user]
	email = me@lyledavis.dev
	name = Lyle Davis
[commit]
	gpgsign = true
[core]
	editor = "vim -u NONE"
	excludesfile = ~/dotfiles/.gitignore
[include]
	path = .gitconfig.signingkey
[push]
	autoSetupRemote = true
