[user]
	name = Lyle Davis
[include]
	path = .gitconfig.emailandsigningkey
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[core]
	editor = "vim"
	excludesfile = ~/dotfiles/.gitignore
	fsmonitor = true
	untrackedcache = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = master
