[user]
	name = Lyle Davis
[include]
	path = .gitconfig.email
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	defaultKeyCommand = "ssh-add -L | grep $(git config user.email) | sed 1q"
[core]
	editor = "vim"
	excludesfile = ~/dotfiles/.gitignore
	fsmonitor = true
	untrackedcache = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = master
